@model List<UserAssignmentResponse> 
@{
    ViewData["Title"] = "UserAssignmentsForProject";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Atamalar</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Atamalar</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="card-box mb-30">
            <div class="pd-20">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-blue h4">Atamalar</h4>
                    </div>
                </div>
            </div>
            <div class="pb-20">
               @await Html.PartialAsync("_ViewAllUserAssignments",Model) 
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="assignment-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



