@{ 
    Layout = "_LayoutError";
}


<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
    <div class="pd-10">
        <div class="error-page-wrap text-center">
            <h1>401</h1>
            <h3>Error: 401 Unauthorized</h3>
            <p>Üzgünüz, sunucudaki bu kaynağa erişim reddedildi.<br>URL'yi kontrol edin</p>
            <div class="pt-20 mx-auto max-width-200">
                <a href="/Account/Login" class="btn btn-primary btn-block btn-lg">Giriş Ekranına Dön</a>
            </div>
        </div>
    </div>
</div>