@{
    Layout = "_LayoutError";
}


<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
    <div class="pd-10">
        <div class="error-page-wrap text-center">
            <h1>500</h1>
            <h3>Error: 500 Server Error</h3>
            <p>Beklenmedik bir hata oluştu ve isteğiniz tamamlanamadı..</p>
            <div class="pt-20 mx-auto max-width-200">
                <a href="/Account/Login" class="btn btn-primary btn-block btn-lg">Giriş Ekranına Dön</a>
            </div>
        </div>
    </div>
</div>