@model TaskOperationModel

@{ Layout = "_LayoutTask"; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEditTask" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostTask(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="Id" />

            <div class="form-group row">
                <label asp-for="Title" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Description" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Priority" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()">
                        <option selected="selected" value="">Öncelik seçiniz</option>
                    </select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="TaskStatusId" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="TaskStatusId" class="form-control" asp-items="Html.GetEnumSelectList<StatusLevel>()">
                        <option selected="selected" value="">Öncelik seçiniz</option>
                    </select>
                    <span asp-validation-for="TaskStatusId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DueDate" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group">
                        <input asp-for="DueDate" class="form-control date-picker" placeholder="Tarih Seçin" type="text">
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary btn-block" />
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
