@model UserUpdate

@{ Layout = "_LayoutUser"; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditProfile" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPostUser(this);" autocomplete="off">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <input asp-for="UserName" class="form-control" readonly="readonly">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-12 col-md-2 col-form-label"></label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Email" class="form-control" type="email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="PhoneNumber" class="col-sm-12 col-md-2 col-form-label"></label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="PhoneNumber" class="form-control">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-12 col-md-2 col-form-label"></label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="FirstName" class="form-control" type="text">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-12 col-md-2 col-form-label"></label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Gender" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<GenderType>()">
                        <option selected="selected" value="">Cinsiyet seçiniz</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="JobId" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="JobId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Jobs,"Id","Name"))">
                        <option selected="selected" value="">Meslek seçiniz</option>
                    </select>
                    <span asp-validation-for="JobId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="DepartmentId" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="DepartmentId" class="form-control"
                            asp-items="@(new SelectList(ViewBag.Departments,"Id","Name"))">
                        <option selected="selected" value="">Departman seçiniz</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="BirthDate" class="col-sm-12 col-md-2 col-form-label"></label>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group">
                        <input asp-for="BirthDate" class="form-control date-picker" placeholder="Tarih Seçin" type="text">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" id="submitButton" />
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-center text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
